.main-team {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 120px;
    padding-bottom: 120px;
    gap: 50px;
}

.team-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 610px;
}

.team-title {
    max-width: 486px;
}

.team-title h2 {
    letter-spacing: -1px;
}

.team-title span {
    margin-top: 35px;
    margin-bottom: 160px;
}